# {{ ansible_managed }}
[{{ item.name }}]
location = {{ gentoo_prefix_path }}/var/db/repos/{{ item.name }}
sync-type = {{ item.source }}
sync-uri = {{ item.url }}
{% if item.branch is defined %}
sync-git-clone-extra-opts = --branch {{ item.branch }}
{% endif %}
{% if item.auto-sync is defined %}
auto-sync = {{ item.auto-sync }}
{% elif item.source == 'git' %}
auto-sync = no
{% else %}
auto-sync = yes
{% endif %}
