# Add a custom overlay to the Gentoo Prefix installation.
---
- name: Install equery command (dependency for the portage module)
  ansible.builtin.command:
    cmd: emerge gentoolkit
    creates: "{{ gentoo_prefix_path }}/usr/bin/equery"

- name: Install eselect-repository
  community.general.portage:
    package: eselect-repository
    state: present

# We need git in order to add Gentoo overlays hosted on git repositories.
- name: Install git
  community.general.portage:
    package: dev-vcs/git
    state: present

- name: Check which repositories have been installed
  ansible.builtin.command: eselect repository list -i
  register: repositories_installed
  changed_when: false

- name: Add custom overlay configuration
  ansible.builtin.command:
    cmd: "eselect repository add {{ item.name }} {{ item.source }} {{ item.url }}"
  when: item.name not in repositories_installed.stdout
  loop: "{{ custom_overlays }}"

- name: Make configuration file with overlays that can override eclasses
  ansible.builtin.copy:
    dest: "{{ gentoo_prefix_path }}/etc/portage/repos.conf/eclass-overrides.conf"
    mode: "0644"
    content: |
      [DEFAULT]
      eclass-overrides = {{
        custom_overlays | selectattr('eclass-overrides', 'defined') |
        selectattr('eclass-overrides', 'equalto', True) | map(attribute='name') | join(' ')
      }}

- name: Sync the repositories
  community.general.portage:
    sync: 'yes'

- name: Find all files and directories in the etc/portage directory of the overlay
  ansible.builtin.find:
    file_type: any
    paths: "{{ gentoo_prefix_path }}/var/db/repos/{{ item.name }}/etc/portage"
  loop: "{{ custom_overlays }}"
  register: find_configs

- name: Make symlinks to the portage settings in the custom overlay
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: "{{ gentoo_prefix_path }}/etc/portage/{{ item.path | basename }}"
    state: link
    force: true
  with_items:
    "{{ find_configs.results | rejectattr('files', 'equalto', []) | map(attribute='files') | list }}"
