# Install a specified list of sets and packages.
---
- name: Install package set {{ package_sets }}
  community.general.portage:
    package: "@{{ item }}"
    state: present
  with_items: "{{ package_sets }}"
  become: false
  tags:
    - set

- name: Install additional packages
  community.general.portage:
    package: "{{ item }}"
    state: present
  with_items: "{{ prefix_packages }}"
  become: false

- name: "Get the username running the deployment (not root)"
  ansible.builtin.command: whoami
  changed_when: false
  become: false
  register: username_on_host

- name: "Fix permissions after installing as portage/root"
  ansible.builtin.file:
    owner: "{{ username_on_host.stdout }}"
    group: "{{ username_on_host.stdout }}"
    path: "{{ gentoo_prefix_path }}"
    recurse: true
  become: true
# original value
#  become: false
