# Run a ReFrame test suite to validate the correctness
# of the compatibility layer installation.
---

- name: Check if ReFrame is installed
  ansible.builtin.command: reframe --version >/dev/null 2>&1
  register: reframe_exists
  ignore_errors: yes

- name: Install Reframe using pip if it's not installed yet
  ansible.builtin.pip:
    name: ReFrame-HPC
    extra_args: --user
  when: reframe_exists.rc != 0

- name: Copy ReFrame test file
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../../test/compat_layer.py"
    dest: /tmp/compat_layer.py
    mode: 0644
  tags:
    - test

- name: Run ReFrame tests
  ansible.builtin.command:
    cmd: "{{ '~/.local/bin/' if reframe_exists.rc != 0 else '' }}reframe -r -v -c /tmp/compat_layer.py"
  environment:
    EESSI_VERSION: "{{ eessi_version }}"
    EESSI_OS: "{{ eessi_host_os }}"
    EESSI_ARCH: "{{ eessi_host_arch }}"
  register: reframe_cmd
  changed_when: false
  failed_when: reframe_cmd.rc != 0
  tags:
    - test
